body {
    background-color: rgb(37, 37, 69);
}
h1 {
    display: flex;
    justify-content: center;
    color: rgb(49, 137, 161);
}

.box1 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 80px;
    font-size: 20px;
}

#one {
    font-size: 20px;
    color: aqua;
    position: relative;
    right: 10px;
}

h2{
    position: relative;
    top: 150px;
    display: flex;
    justify-content: center;
    color: rgb(145, 151, 149);
}
button{
    background: rgb(12, 6, 41);
    color: white;
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
    position: relative;
    left: 10px;
}